@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.otf')  format('opentype'),
    url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.woff') format('woff'), 
    url('../fonts/AvenirNextLTPro-Bold/AvenirNextLTPro-Bold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-It';
    src: url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.otf')  format('opentype'),
    url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.woff') format('woff'), 
    url('../fonts/AvenirNextLTPro-It/AvenirNextLTPro-It.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.otf')  format('opentype'),
    url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.woff') format('woff'), 
    url('../fonts/AvenirNextLTPro-Regular/AvenirNextLTPro-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'SFUIDisplay-Medium';
    src: url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.otf')  format('opentype'),
    url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Mediumar.woff') format('woff'), 
    url('../fonts/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.otf')  format('opentype'),
    url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.woff') format('woff'), 
    url('../fonts/SFUIDisplay-Light/SFUIDisplay-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

