<div class="zing-play">
    <div class="zing-play__header">
            <div class="zing-play__header--pc">
                  <div class="container">
                        <div class="logo">
                              <a href="#">
                                    <img src="images/logo.png" alt="logo">
                              </a>
                        </div>
                        <div class="navigation">
                              <ul class="menu">
                                    <li>
                                          <a href="#" class="active"><span>home</span></a>
                                    </li>
                                    <li>
                                          <a href="#"><span>games</span></a>
                                    </li>
                                    <li>
                                          <a href="#"><span>payment</span></a>
                                    </li>
                                    <li>
                                          <a href="#"><span>videos</span></a>
                                    </li>
                                    <li>
                                          <a href="#"><span>news</span></a>
                                    </li>
                                    <li>
                                          <a href="#"><span>about</span></a>
                                    </li>
                              </ul>
                              <ul class="actions">
                                    <li>
                                          <input class="input-search" type="text" placeholder="Search...">
                                          <img class="search" src="images/icon-search.png" alt="">
                                    </li>
                                    <li>
                                          <img src="images/lang-vn.png" alt="">
                                    </li>
                              </ul>
                        </div>
                        <div class="clearfix"></div>
                  </div>
            </div>
          
          <div class="zing-play__header--mobile">
                <div class="head">
                      <div class="item toggle" >
                              <svg class="icon-toggle" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 1.25C20 0.559644 19.4404 0 18.75 0H1.25C0.559645 0 0 0.559644 0 1.25C0 1.94036 0.559645 2.5 1.25 2.5H18.75C19.4404 2.5 20 1.94036 20 1.25Z" fill="white"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 8.25C20 7.55964 19.4404 7 18.75 7H1.25C0.559645 7 0 7.55964 0 8.25C0 8.94036 0.559645 9.5 1.25 9.5H18.75C19.4404 9.5 20 8.94036 20 8.25Z" fill="white"/>
                                    <rect width="20" height="2.5" rx="1.25" transform="matrix(-1 0 0 1 20 14)" fill="white"/>
                              </svg>
                      </div>
                      <div class="item logo-mobile">
                             <a href="#">
                                    <svg width="30" height="36" viewBox="0 0 30 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1724 8.23606L19.3326 10.7223L21.6497 13.058L29.8624 15.1876L28.6309 15.6169L9.95801 13.467L0 22.0141L4.6558 14.3256L3.45912 8.22761L5.63039 0L12.1724 8.23606ZM15.6862 11.853L18 11.6856L19.1237 12.7741L15.6862 11.853ZM11.1348 8.46254L6.36132 2.8462L5.1348 8.05014L6.56353 12.169L9.12927 9.32789L11.1348 8.46254Z" fill="white"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M27.6796 17.5892L29.1912 15.9261L27.252 17.2698C27.252 17.2698 18.6912 18.8095 17.5774 19.974C16.4636 21.1385 17.4117 27.2585 18.5255 29.4118C17.8327 29.1971 16.4338 27.8112 16.0095 27.1436C14.0205 28.7932 12.6365 32.3036 11.7747 35.5335C12.6365 33.72 14.8492 29.6349 15.9664 28.9014C17.2923 30.0845 19.2034 30.7909 20.1863 30.6608C18.1741 27.0709 17.4896 21.7571 18.1741 20.6619C18.8586 19.5667 27.6796 17.5892 27.6796 17.5892Z" fill="white"/>
                                          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.1884 24.9431L9.80221 20.1127L7.18674 21.2637C7.62431 19.7746 8.48785 18.098 10.0591 16.8811C10.3537 16.6529 10.6645 16.4473 10.989 16.2659C11.1558 16.1724 11.3293 16.0839 11.5094 16.0006C11.8851 15.8269 12.2729 15.6817 12.6696 15.5662L24.8619 16.5279L25.8033 16.6023L28.0989 15.8028L28.6309 15.6169L9.95801 13.467L0 22.0141C7.06409 25.7324 10.2365 33.0135 10.9541 35.2665C10.3773 30.7944 9.14917 26.6772 7.1884 24.9431Z" fill="white"/>
                                    </svg>
                             </a>
                      </div>
                      <div class="item search-mobile">
                              <svg  class="icon-toggle-search" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7317 14.436C16.0894 14.7938 16.0894 15.3739 15.7317 15.7317C15.3739 16.0894 14.7938 16.0894 14.436 15.7317L10.2482 11.5439C9.17706 12.3465 7.85239 12.8282 6.41411 12.8282C2.87718 12.8282 0 9.95103 0 6.41411C0 2.87718 2.87718 0 6.41411 0C9.95103 0 12.8282 2.87718 12.8282 6.41411C12.8282 7.85239 12.3465 9.17706 11.5439 10.2482L15.7317 14.436ZM6.37938 1.63795C3.76485 1.63795 1.63795 3.76485 1.63795 6.37938C1.63795 8.9939 3.76485 11.1208 6.37938 11.1208C8.9939 11.1208 11.1208 8.9939 11.1208 6.37938C11.1208 3.76485 8.9939 1.63795 6.37938 1.63795Z" fill="white"/>
                              </svg>
                      </div>
                </div>
                <div class="navigation">
                        <ul class="menu">
                              <li>
                                    <a href="#" class="active"><span>home</span></a>
                              </li>
                              <li>
                                    <a href="#"><span>games</span></a>
                              </li>
                              <li>
                                    <a href="#"><span>payment</span></a>
                              </li>
                              <li>
                                    <a href="#"><span>videos</span></a>
                              </li>
                              <li>
                                    <a href="#"><span>news</span></a>
                              </li>
                              <li>
                                    <a href="#"><span>about</span></a>
                              </li>
                        </ul>
                  </div>
                  <div class="input-search-mobile">
                        <input type="text" placeholder="Search...">
                  </div>
          </div>
    </div>

      <div class="zing-play__slider slider-banner">
            {% for i in 0..2 %}
                  <div class="item">
                        <div class="image">
                              <img class="pc" src="images/slide1.jpg" alt="slide1">
                              <img class="mobile" src="images/bg-mobile.png" alt="slide1">
                        </div>
                        <div class="container">
                              <div class="text">
                                    <p class="title ">
                                          <span class="title-1">
                                                Samus Aran
                                          </span>
                                          <span class="title-2">
                                                Tribute
                                          </span>
                                    </p>
                                    <a class="learn-more hvr-bob " href="#">
                                          <span class="">Learn more <img src="images/arrow-right.png" alt="arrow-right.png"></span>
                                    </a>
                                    <a class="watch-game" href="#"><img src="images/watch.png" alt="watch.png"> Watch gameplay</a>
                              </div>
                        </div>    
                  </div>
            {% endfor %}
                  
           
      </div>

    <div class="zing-play__home-main">
            <div class="container">
            
                  <div class="zing-play__list-game">
                        <div class="list-game__tabs">
                              <ul>
                                    <li data-typeGame="casual" class="tab tab__casual active">
                                          Casual Games
                                    </li>
                                    <li data-typeGame="card" class="tab tab__card">
                                          Card Games
                                    </li>
                                    <li class="pc">
                                          <a href="#">View all games +</a>
                                    </li>
                              </ul>
                        </div>
                        <div class="list-game__contents">
                              <div class="list-game__casual list-game__item slider-casual active">
                                    {% for i in 1..4 %}
                                          <div class="item">
                                                <div class="img">
                                                      <img src="images/game-{{ i }}.png" alt="game-{{ i }}.png">
                                                </div>
                                                <div class="text">
                                                      <div class="title">League of Legends</div>
                                                      <div class="des">League of Legends is a Riot Games-developed inspired by the Defense of the Ancients mod for video games Warcraft III: Frozen Throne.</div>
                                                      <a class="btn-learn-more hvr-skew-forward" href="#">Learn more</a>
                                                </div>
                                          </div>
                                    {% endfor %}
                                    
                              </div>
                              <div class="list-game__card list-game__item slider-card">
                                    {% for i in 1..4 %}
                                    <div class="item" >
                                          <div class="img">
                                                <img src="images/game-{{ i }}.png" alt="game-{{ i }}.png">
                                          </div>
                                          <div class="text">
                                                <div class="title">League of Legends 1</div>
                                                <div class="des">League of Legends is a Riot Games-developed inspired by the Defense of the Ancients mod for video games Warcraft III: Frozen Throne.</div>
                                                <a class="btn-learn-more hvr-skew-forward" href="#">Learn more</a>
                                          </div>
                                    </div>
                                    {% endfor %}
                              </div>
                        </div>
                  </div>
           
                  <div class="zing-play__download">
                        <div class="row">
                              <div class="col-md-5">
                                          <div class="zing-play__download--left">
                                                <div class="title">Play. Challenge. Achieve</div>
                                                <div class="des">
                                                      The most joyable game platform
                                                      with your friend
                                                </div>
                                                <a class="btn-link-download  hvr-bob" href="#">Download Zingplay</a>
                                          </div>
                              </div>
                              <div class="col-md-7">
                                          <div class="zing-play__download--right">
                                                <img class="pc" src="images/download.png" alt="download.png">
                                                <img class="mobile" src="images/download-mobile.png" alt="download.png">
                                          </div>
                              </div>
                        </div>
                  </div>
                  <div class="zing-play__eventsNews">
                        <div class="list-eventsNews__tabs pc">
                              <ul>
                                    <li data-typeEvent="events" class="tab tab__events active">
                                          Events
                                    </li>
                                    <li data-typeEvent="news" class="tab tab__news">
                                          News
                                    </li>
                                    <li>
                                          <a href="#">View all +</a>
                                    </li>
                              </ul>
                        </div>
                        <div class="list-eventsNews__contents">
                              <div class="list-eventsNews__events list-eventsNews__item active">
                                    <div class="row">
                                          <div class="col-md-6 col-sm-12 col-12">
                                                <div class="item first">
                                                      <a href="#">
                                                            <img src="images/event-1.png" alt="event-1.png">
                                                      </a>
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-12 col-12">
                                                <div class="item">
                                                      <div class="image">
                                                            <img class="pc" src="images/event-2-pc.png" alt="event-2.png">
                                                            <img class="mobile" src="images/event-2-mobile.png" alt="event-2.png">
                                                      </div>
                                                      <div class="text">
                                                            <div class="date mobile">
                                                                  December 11th, 2018
                                                            </div>
                                                            <div class="des">
                                                                  PUNCH TO WIN - Join the event with thousands of rewards at ZingPlay
                                                            </div>
                                                            <a href="#" class="learn-more">
                                                                  Learn more 
                                                                  <img src="images/arrow-red.png" alt="arrow-red.png">
                                                            </a>
                                                      </div>
                                                      
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-12 col-12">
                                                <div class="item">
                                                      <div class="image">
                                                            <img class="pc" src="images/event-3-pc.png" alt="event-3.png">
                                                            <img class="mobile" src="images/event-3-mobile.png" alt="event-3.png">
                                                      </div>
                                                      <div class="text">
                                                            <div class="date mobile">
                                                                  December 11th, 2018
                                                            </div>
                                                            <div class="des">
                                                                  [Search for Golden Eggs] List of event winners
                                                            </div>
                                                            <a href="#" class="learn-more">
                                                                  Learn more
                                                                  <img src="images/arrow-red.png" alt="arrow-red.png">
                                                            </a>
                                                      </div>
                                                      
                                                      
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div class="list-eventsNews__news list-eventsNews__item pc">
                                    <div class="row">
                                          <div class="col-md-3 col-sm-12 col-12">
                                                <div class="item">
                                                      <div class="image">
                                                            <img class="pc" src="images/event-2-pc.png" alt="event-2.png">
                                                            <img class="mobile" src="images/event-2-mobile.png" alt="event-2.png">
                                                      </div>
                                                      <div class="text">
                                                            <div class="des">
                                                                  PUNCH TO WIN - Join the event with thousands of rewards at ZingPlay
                                                            </div>
                                                            <a href="#" class="learn-more">
                                                                  Learn more
                                                                  <img src="images/arrow-red.png" alt="arrow-red.png">
                                                            </a>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-md-3 col-sm-12 col-12">
                                                <div class="item">
                                                      <div class="image">
                                                            <img class="pc" src="images/event-3-pc.png" alt="event-3.png">
                                                            <img class="mobile" src="images/event-3-mobile.png" alt="event-3.png">
                                                      </div>
                                                      <div class="text">
                                                            <div class="des">
                                                                        [Search for Golden Eggs] List of event winners
                                                            </div>
                                                            <a href="#" class="learn-more">
                                                                  Learn more
                                                                  <img src="images/arrow-red.png" alt="arrow-red.png">
                                                            </a>
                                                      </div>
                                                      
                                                </div>
                                          </div>
                                          <div class="col-md-6 col-sm-12 col-12">
                                                <div class="item first">
                                                      <a href="#">
                                                            <img src="images/event-1.png" alt="event-1.png">
                                                      </a>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
    </div>

    <div class="zing-play__footer">
          <img class="icon-footer icon-1" src="images/icon-1.png" alt="icon-1.png">
          <img class="icon-footer icon-2" src="images/icon-2.png" alt="icon-2.png">
          <img class="icon-footer icon-3" src="images/icon-3.png" alt="icon-3.png">
          <img class="icon-footer icon-4" src="images/icon-4.png" alt="icon-4.png">
          <div class="container">
                  <div class="gotoTop">
                        <img src="images/arrow-scroll-top.png" alt="arrow-scroll-top.png">
                  </div>
                  <div class="logo-footer">
                        <img class="pc" src="images/logo-footer.png" alt="logo-footer.png">
                        <img class="mobile" src="images/logo-mobile-footer.png" alt="logo-footer.png">
                  </div>
                  <div class="menu-mobile">
                        <ul>
                              <li>
                                          <a href="#">games</a>
                              </li>
                              <li>
                                          <a href="#">payment</a>
                              </li>
                              <li>
                                          <a href="#">videos</a>
                              </li>
                              <li>
                                          <a href="#">news</a>
                              </li>
                              <li>
                                          <a href="#">about</a>
                              </li>
                        </ul>
                  </div>
                  <div class="text-allright">
                        ©2019 ZINGPLAY. ALL RIGHTS RESERVED.<br>
                              All trademarks referenced herein are the properties of their respective owners.
                  </div>
          </div>
          
    </div>

</div>

